body {
    background: #5DBCD2;
    font-family: 'Roboto, Arial, Helvetica, sans-serif';
    color: #FFFFFF;
}

#form {
    margin: 30;
    line-height: 2;
}

#form {
    align-items: center;
}

.input {
    background: #5DBCD2;
    border: #FFFFFF;
    border-style: solid;
    border-width: 0.5px;  
    line-height: 28px;     
    text-indent: 10px;     
}

.input::placeholder {
    color: #FFFFFF;                      
}

.input:focus {
    color: #FFFFFF; 
}

#submit {
    height: 32px;
    width: 80px;
    border: none;
    background: #FFFFFF;
    color:#5DBCD2;
}
